<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
body {
	Margin: 0!important;
	padding: 15px;
	background-color: #FFF;
}
.titulo_correo{
    color: #253089;
    margin: 0; padding: 0;
    margin-top: 4px;
}
.azul{color: #253089;}
.wrapper {
	width: 100%;
	table-layout: fixed;
}
.wrapper-inner {
	width: 100%;
	/*background-color: #eee;*/
	max-width: 670px;
	margin: 0 auto;
}
.beneficio{color: black;font-size: 12px;padding-left: 12px;}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #727f80;
}
.outer-table {
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
	background-color: #FFF;
}
td {
    padding: 0;
}
.header {

}
p {
    margin:0;
}
.header p {
    padding: 1%;
    color: black;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
a {
    color: black;
    text-decoration: none;
}
/*--- End Outer Table 1 --*/
.main-table-first {
	width: 100%;
	max-width: 610px;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 6px;
}
/*--- Start Two Column Sections --*/
.two-column {
    text-align: center;
    font-size: 0;
    padding: 5px 0 10px 0;
}
.two-column .section {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.two-column .content {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.content {
    width: 100%;
    padding-top: 20px;
}
.center {
    display: table;
    Margin: 0 auto;
}
img {
    border: 0;
}
img.logo {
    float: left;
    Margin-left: 5%;
    max-width: 200px!important;
}
#callout {
    Margin: 4% 5% 2% 0;
    height: auto;
    overflow: hidden;
}
#callout p{color: black; font-size: 12px}
#callout img {
    max-width: 20px;
}
.social {
    list-style-type: none;
    margin-top: 1%;
    padding: 0;
    border-top: 0.5px solid #f1f1f1;
    padding-top: 10px;
}
.social li {
    display: inline-block;
    width: 25px;
}
.social li img {
    max-width: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
/*--- Start Outer Table Banner Image, Text & Button --*/
.image {
    width: 100%;
    max-width: 670px;
    background: #eee;
    height: auto;
    padding: 10px;
}
.image p{color: black;font-size: 12px}
.main-table {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 6px;
}
.one-column .inner-td {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.one-column .inner-td p{font-size: 14px;color: black;margin-top: 10px}
.inner-td {
    padding: 10px;
}
.h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin: 12px;
    color: black;
}
p.center {
    text-align: center;
    max-width: 580px;
    line-height: 24px;
}
.button-holder-center {
    text-align: center;
    Margin: 5% 2% 3% 0;
}
.button-holder {
    float: right;
    Margin: 5% 0 3% 0;
}
.btn {
    font-size: 14px;
    font-weight: 600;
    background: #3D3D3D;
    color: #FFF;
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 28px;
}
/*--- Start Two Column Image & Text Sections --*/
.two-column img {
    width: 100%;
    max-width: 71px;
    height: auto;
}
.left{float: left;}
.two-column .text {
    padding: 10px 0;
    max-width: 206px;
    color: black;
    font-size: 12px;
}
/*--- Start 3 Column Image & Text Section --*/
.outer-table-2 {
	width: 100%;
	max-width: 670px;
	background-color: #C2C1C1;
}
.three-column {
    font-size: 0;
    padding: 12px;
    font-weight: bold;
}
.three-column .section {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .content {
    font-size: 16px;
    line-height: 20px;
}
.three-column img {
    width: 100%;
    max-width: 125px;
    height: auto;
}
.outer-table-2 p {
	color: black;
	font-size: 12px;
}
/*--- Start Two Column Article Section --*/
.outer-table-3 {
    width: 100%;
    max-width: 670px;
    margin: 22px auto;
    background-color: #C2C1C1;
    border-top: 3px solid #81B9C3;
}
.h3 {
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	Margin-bottom: 8px;
	color: #4A4A4A;
}
/*--- Start Bottom One Column Section --*/
.inner-bottom {
	padding: 22px;
}
.end{text-align: center;font-size: 10px;padding-top: 42px}
.h1 {
    text-align: center!important;
    font-size: 25px!important;
    font-weight: 600;
    line-height: 45px;
    Margin: 12px 0 20px 0;
    color: #4A4A4A;
}
.inner-bottom p {
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}
/*--- Start Footer Section --*/
.footer {
	width: 100%;
	background-color: #C2C1C1;
	Margin: 0 auto;
    color: #FFF;
}
.footer  img {
	max-width: 135px;
	Margin: 0 auto;
	display: block;
	padding: 4% 0 1% 0;
}
p.footer {
	text-align: center;
	color: #FFF!important;
	line-height: 30px;
	padding-bottom: 4%;
    text-transform: uppercase;
}
/*--- Media Queries --*/
@media screen and (max-width: 400px) {
	.h1 {
		font-size: 22px;
	}
	.two-column .column, .three-column .column {
		max-width: 100%!important;
	}
	.two-column img {
		width: 100%!important;
	}
	.three-column img {
		max-width: 60%!important;
	}
}
@media screen and (min-width: 401px) and (max-width: 400px) {

	.two-column .column {
		max-width: 50%!important;
	}
	.three-column .column {
		max-width: 33%!important;
}
}
@media screen and (max-width:768px) {
img.logo {
	float:none !important;
	margin-left:0% !important;
	max-width: 200px!important;
}

#callout {
	float:none !important;
	margin: 0% 0% 0% 0;
	height: auto;
	text-align:center;
	overflow: hidden;
}
#callout img {
    max-width:26px !important;
}
.two-column .section {
	width: 100% !important;
	max-width: 100% !important;
	display: inline-block;
	vertical-align: top;
}

.two-column img {
	width: 100% !important;
 	height: auto !important;
}
img.img-responsive {
    width:100% !important;
    height:auto !important;
    max-width:100% !important;
}
.content {
	width: 100%;
	padding-top:0px !important;

}
}
</style>
 </head>
<body>
    <div class="wrapper">
    	<div class="wrapper-inner">
    		<table class="outer-table">
    			<tr>
    				<td class="header">
    					<p><b>
                            <a href = "https://kapture.la">kapture.la</b> kapturela@gmail.com</p></a>
    				</td>
    			</tr>
            </table>
            <table class="main-table-first">
                <tr>
                    <td class="two-column">
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td align="center">
                                                    <img src="https://online.kapture.la/assets/images/back-office/LOGOADMIN.png" class="logo">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
            </table>
           <div style="border-top: 1px solid #f1f1f1;"></div>
            <table class="main-table">
    			<tr>
    				<td class="one-column">
    					<table width="100%">
    						<tr>
    							<td class="inner-td">
    								<p style="font-size: 14px">
                                        ¡Hola!<br>
                                        Uma senha temporária foi gerada: <b>{{code}}</b>
                                        <br>
                                        Por motivos de segurança, é recomendável que, depois de inserir o aplicativo, personalize sua senha.
                                        
                                    </a>:

                                    </p>
    							</td>

    						</tr>
    					</table>
    				</td>
                </tr>
            </table>
            <table class="outer-table main-table">
                <tr>
                    <td class="end">
                        <a href="https://kapture.la">www.kapture.la</a> <br>
                        UN MUNDO DE POSIBILIDADES. <br>
                        en una sola aplicación<br><br>
                        <ul class="social">
                            <li><a href="https://twitter.com/KaptureLa" target="_blank"><img src="https://online.kapture.la/assets/images/twitter.png"></a></li>
                            <li><a href="https://www.instagram.com/kapture.la" target="_blank"><img src="https://online.kapture.la/assets/images/instagram.png"></a></li>
                            <li><a href="https://www.facebook.com/Kapturela-417523812341343/" target="_blank"><img src="https://online.kapture.la/assets/images/facebook.png"></a></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table class="outer-table" style="border-top: 1px solid #f1f1f1;margin-top: 35px">
                <tbody>
                    <tr>
                        <td class="header">
                            <p style="color: #727f80;font-size: 10px">No respondas este email. <a href="#" style="color: blue">Ayuda</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
    	</div>
    </div>
    <br>
</body>
</html>